<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ZqStatBugProject</display-name>
  <servlet>
    <servlet-name>IndexStatServlet</servlet-name>
    <servlet-class>cn.lixing.servlet.object.IndexStatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexStatServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatServlet</servlet-name>
    <servlet-class>cn.lixing.servlet.object.StatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatServlet</servlet-name>
    <url-pattern>/StatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SkipSatServlet</servlet-name>
    <servlet-class>cn.lixing.servlet.object.SkipSatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkipSatServlet</servlet-name>
    <url-pattern>/SkipSatServlet</url-pattern>
  </servlet-mapping>
</web-app>